.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.content h3, .content p, .content span {
    margin: 1rem;
}

.content span {
    display: block;
}