/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  width: 30%;
}


/* Utilities */
.text-center {
  text-align: center;
}

.pt-3 {
  padding-top: 3rem;
}

