/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.col {
  width: 40%;
}


/* Utilities */
.text-center {
  text-align: center;
}

.pt-3 {
  padding-top: 3rem;
}

/* TAGS */
.html {
  background-color: lightsalmon;
}

.css {
  background-color: lightblue;
}

.js {
  background-color: limegreen;
}

.php {
  background-color: lightcoral;
} 
